@use "../partials/mixins";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--spaceMono-font);
}

h1 {
    font-size: clamp(2.3rem, 5vw, 5rem);
    line-height: 1.2;
}

h2 {
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: 1.2;
}

p {
    font-family: var(--nunitoSans-font);
    font-size: clamp(1rem, 2vw, 1rem);
    line-height: 1.8;
}

li {
    a {
        font-family: var(--nunitoSans-font);
    }
}

button {
    font-family: var(--spaceMono-font);
}

.logo {
    font-family: var(--spaceMono-font);
}
