$black: #000;
$gray: #666;
$white: #fff;

$wrapper-max-width: 1536px;
$nav-height-mobile: 4rem;

$mpb-yellow: #ffcf00;
$mpb-mustard: #edba00;
$mpb-gray-light: #6a6b66;
$mpb-gray-dark: #333431;
$mpb-blue: #8ce5ff;
$mpb-orange: #ff7000;

$red: #e13543;
$red-2: #e62434;
$blue: #18216e;
$blue-light: #a9b9e0;
$red-light: #d0b4c5;
