@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";

$s: 3px;

.burger-wrapper {
    cursor: pointer;
    // margin: auto;
    width: $s * 8;
    height: $s * 8;

    @include mixins.screen("md") {
        display: none;
    }

    .burger {
        background: variables.$black;
        width: $s * 8;
        height: $s;
        position: relative;
        transition: background 10ms 300ms ease;
        // transform: translateY($s * 4);

        &:before,
        &:after {
            transition: top 300ms 350ms ease, transform 300ms 50ms ease;
            position: absolute;
            background: variables.$black;
            width: $s * 8;
            height: $s;
            left: 0;
            content: "";
        }
        &:before {
            top: $s * -3;
        }

        &:after {
            top: $s * 3;
        }
    }

    &.--open {
        .burger {
            background: transparent;
            &:after,
            &:before {
                transition: top 300ms 50ms ease, transform 300ms 350ms ease;
                top: 0;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}
